


.jumbotron {
    background-image: url(handsin.jpg);
    /* Can set background-attachment as "scroll" instead */
    background-attachment: fixed;  
    background-size: cover;
    }

/* edit PARTICULAR IMAGE - empowered main logo*/
    #mainlogo{
        height: 50px;
        }

/* edit PARTICULAR IMAGE - My headshot*/
#julian_headshot{
    height: 400px;
    border-radius: 5px 5px 5px 5px;
    border-color: whitesmoke;
    border-style: groove;
    border-width: 20px;

    /* center image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    }


        #julian{
        height: 50px;
        }
    

/* SET SIZE OF ICONS */
    i.fa-search {
        font-size: 100px
        }

    i.fa-graduation-cap {
        font-size: 100px
        }

    i.fa-volume-up {
        font-size: 100px
        }




 /* edit entire HTML page*/
 html{
    border-radius: 5px 5px 5px 5px;
    border-color: whitesmoke;
    border-style: groove;
    border-width: 20px;
 }